<div class="card">
  <%= link_to image_tag(nail.image, class: :card__img ), root_path%>
  <div class="card__body">
    <%= link_to nail.title, root_path, class: :card__title%>
    <%= link_to "by #{nail.user.nickname}", root_path, class: :card__user %>
  </div>
</div>